<% content_for(:page_title) do %><%= posts_title(@tag) %><% end -%>
<% content_for(:head)       do %>
<%= auto_discovery_link_tag(:atom, @tag.nil? ? formatted_posts_path(:format => 'atom') : posts_path(:tag => @tag, :format => 'atom')) %>
<% end -%>

<ul id="posts-list">
	<% @posts.each do |post| -%>
		<li class="post-list-item clearfix">
			<div class="post-list-date">
				<div class="pld-day"><%= post.published_at.day %></div>
				<div class="pld-month"><%= post.published_at.strftime('%b') %></div>
			</div>
			<div class="post-list-title">
				<h2><%= link_to post.title, post_path(post) %></h2>
			</div>
		</li>
	<% end -%>
</ul>

